#n{
    display: flex;
    list-style-type: none;
    gap: 20px;
    border: 30px;
}
.layout {
  display: flex;
  gap: 20px;
}

article {
  flex: 3;
}

aside {
  flex: 1;
  background-color: #f2f2f2;
  padding: 10px;
}
